{% extends 'main/base.html' %}

{% block navbar %}
{% block navbar2 %}
{{ block.super }}
{% endblock %}
{% endblock %}

{% block content %}
  <div class="container mt-3">
     <div class="row">
         <div class="col-lg-5 mx-auto">
             <div class="card">
                 <div class="card-body">
             <form action="{% url 'oner_login' %}" method="post">
                 {% csrf_token %}
                 <div class="form-group">
                     <table>Email</table>
                     <input type="text" name="email" class="form-control" placeholder="Email id ">
                 </div>
                 <div class="form-group">
                     <table>Password</table>
                     <input type="password" name="password" class="form-control" placeholder="password">
                 </div>
                 <div class="form-group">
                     <input type="submit" class="form-control btn btn-primary">
                 </div>
             </form>
                 </div>
             </div>
         </div>
     </div>
  </div>
{% endblock %}