{% extends 'main/base.html' %}

{% block navbar %}
{% block navbar2 %}
 {{ block.super }}
{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
       <div class="row">
           <div class="col-lg-6">
               <div class="catd">
                   <form action="{% url 'user_signup' %}" method="post" enctype="multipart/form-data" >
                       {% csrf_token %}
                       <table class="table">
                           {{ userform }}
                       </table>
                       <div class="form-group">
                           <input type="submit" class="btn btn-primary btn-block">
                       </div>
                   </form>
               </div>
           </div>
       </div>
    </div>
{% endblock %}


