{% extends 'user/base.html' %}

{% block content %}

    <div class="container">
       <div class="row">
           <div class="col-lg-8">
               <div class="card">
                   <div class="row">
                        <div class="col-lg-4">
                            <img src=" " alt="">
                        </div>
                       <div class="col-lg-8">
                           <table class="table">
                               <tr>
                                   <td>Name</td>
                                   <td>{{ user.0.name }}</td>
                               </tr>
                               <tr>
                                   <td>Email</td>
                                   <td>{{ user.0.email }}</td>
                               </tr>
                               <tr>
                                   <td>Contact</td>
                                   <td>{{ user.0.contact }}</td>
                               </tr>
                               <tr>
                                   <td>Address</td>
                                   <td>{{ user.0.address }}</td>
                               </tr>
                               <tr>
                                   <td>City</td>
                                   <td>{{ user.0.city }}</td>
                               </tr>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>


{% endblock %}
